<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconSystemGenerated</key>
			<integer>0</integer>
			<key>CFBundleTypeName</key>
			<string>BOIDS-GPU Parameter Set</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>jp.ac.soka.unemi.BOIDS-GPU-params</string>
			</array>
			<key>NSDocumentClass</key>
			<string>Parameters</string>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeDescription</key>
			<string>BOIDS-GPU Parameter Set</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBadgeName</key>
				<string>AppIcon</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>jp.ac.soka.unemi.BOIDS-GPU-params</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>bdgp</string>
				</array>
				<key>public.mime-type</key>
				<array/>
			</dict>
		</dict>
	</array>
</dict>
</plist>
